---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-min.html %}
        <section class="post" itemscope itemtype="http://schema.org/WebPage">

            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
              <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                {{ content }}
            </article>

            {% include footer.html %}
        </section>
    </body>
</html>
